doctype html
include ../public/navbar.html
html(lang='en')
  head
    meta(charset='UTF-8')
    title ConcertBuddies
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='css/matching.css')
    // jQuery
    script(src='https://code.jquery.com/jquery-2.1.1.min.js')
    script.
      has_joined="#{has_joined}";
    script(src='javascript/matching.js')
  body
    .page-content
      #concert-info-panel
        #concert-info-subpanel
          h4#concert-date #{date}
          h4#concert-time #{time}
          h1#artist-name #{concert_title}
          h4#venue-title at #{venue}
          h4#venue-location #{location}
          button#leave_event_btn.btn Leave Event
        a#tm-link(href="#{tm_url}")
          img.tm-img(src='../images/tm-logo.jpg')
      #matching-panel
        .matching-subpanel#matching-subpanel-1
          #join_event_thumbnail
            img(src='#{tm_pic}')
          button.btn#join_event_btn Join Event
        .matching-subpanel#matching-subpanel-joined
          .lds-css.ng-scope
            .lds-rolling
              div
          #no-users-left There are no users left to match with!
          #matching-subpanel-2
            #matching-card-col-1
              #active-profile-img-wrap
                img#active-profile-img(src='images/default-profile.png')
                #active-profile-img-overlay
                  .img-nav#img-left-nav
                    i.fa.fa-angle-left.fa-2x
                  .img-nav#img-right-nav
                    i.fa.fa-angle-right.fa-2x
              #active-profile-info
                strong#active-profile-name Chris
                | , #{''}
                span#active-profile-age 21
              #voting-controls
                #vote-up.vote-btn
                  i.fa.fa-thumbs-o-up.fa-3x(aria-hidden='true')
                #vote-down.vote-btn
                  i.fa.fa-thumbs-o-down.fa-3x(aria-hidden='true')
            #matching-card-col-2
              h1 About
              #active-profile-about
